.container {
    background-color: white;
    box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.15);
    padding: 2em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.timeSpentContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.timeSpentItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-accent);
    border-radius: 10px;
    gap: 0.25em;
    padding: 1em;
}

.timeSpentItem h1 {
    margin-left: 0.5em;
}

.timeTableContainer {
    padding: 1em;
}

.timeTable {
    padding: 1em 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.25em;
    background-color: white;
    border-radius: 10px;
}

.timeTableCell {
    aspect-ratio: 1 / 1;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    animation-fill-mode: backwards;
    background-color: var(--color-primary);
    border-radius: 6.25%;
}

@keyframes slideInFromLeft {
    0% {
        transform: scale(125%);
        opacity: 0;
    }

    100% {
        transform: scale(100%);
        opacity: var(--alpha);
    }
}

.weekdayLabel {
    font-weight: bold;
    font-size: 0.75rem;
    text-align: center;
    height: 1rem;
}

.timeTableScaleContainer {
    width: 50%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.5em;
    justify-content: center;
    margin-left: auto;
}

.timeTableScale {
    font-weight: bold;
    font-size: 0.75rem;
    display: grid;
    gap: 0.45em;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.sessionsContainer {
    padding: 1em;
}

.sessionsList {
    display: grid;
    gap: 0.5em;
    padding: 1em;
}

.sessionsItem {
    display: flex;
    justify-content: space-between;
}