.container {
    display: grid;
    place-items: center;
    grid-template-rows: auto auto auto;
    gap: 1em;
}

.timeSpentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.timeSpentItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-accent);
    border-radius: 10px;
    gap: 0.25em;
    padding: 1em;
}

.timeSpentItem h1 {
    margin-left: 0.5em;
}

.timeTableContainer {
    width: 100%;
    padding: 1em;
}

.timeTable {
    padding: 1em 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.45em;
    background-color: white;
    border-radius: 10px;
}

.timeTableCell {
    width: 100%;
    aspect-ratio: 1 / 1;
    animation: 1s ease-out 0s 1 animateCellContainer;
    animation-fill-mode: backwards;
    border-radius: 6.25%;
    box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.25);
}

.timeTableCellContent, .timeTableCellEmpty {
    width: 100%;
    height: 100%;
    border-radius: 6.25%;
    background-color: var(--color-primary);
    animation: 1s ease-out 0s 1 animateCellContent;
    animation-fill-mode: backwards;
}

.timeTableCellEmpty {
    opacity: 0;
    animation: none;
}

@keyframes animateCellContainer {
    0% {
        transform: scale(125%);
        opacity: 0;
    }

    100% {
        transform: scale(100%);
        opacity: 1;
    }
}

@keyframes animateCellContent {
    0% {
        opacity: 0;
    }

    100% {
        opacity: var(--alpha);
    }
}

.weekdayLabel {
    font-weight: bold;
    font-size: 0.75rem;
    text-align: center;
    height: 1rem;
}

.timeTableScaleContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    gap: 0.25em;
}

.timeTableScale {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, auto);
    gap: 1em;
}

.sessionsContainer {
    padding: 1em;
}

.sessionsList {
    display: grid;
    gap: 0.5em;
    padding: 1em;
}

.sessionsItem {
    display: flex;
    justify-content: space-between;
}