SERVICE_DOMAIN=127.0.0.1
ACME_EMAIL=admin@example.com
DB_PASSWORD=changeme
BACKEND_PATH=../Pialgra-backend # Repositories are expected to be siblings on the same machine
POSTGRES_VOLUME=pialgra-production-postgres
