.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clockContainer {
  display: grid;
  place-items: center;
}

.clockContainer svg {
  object-fit: cover;
  grid-area: 1 / 1;
}

.clockContainer svg path {
  stroke-width: 10;
}

.clockText {
  grid-area: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clockOuter {
  color: var(--color-accent-light);

}

.clockInner {
  color: var(--color-primary);
  stroke-linecap: round;
  stroke-dasharray: 0 1;
  stroke-dashoffset: 1;
  animation: draw 5s linear infinite;
}

@keyframes draw {
  0% {
    stroke-dasharray: 0 1;
  }

  75% {
    stroke-dasharray: 1 0;
  }

  100% {
    stroke-dasharray: 1 1;
  }
}

.menu {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "subjectSele subjectSele"
    "startButton resetButton"
    "workTimer workTimer"
    "breakTimer breakTimer"
  ;
}

.menu>* {
  padding: 1em;
}

select {
  grid-area: subjectSele;
  appearance: base-select;
  appearance: none;
  background-color: var(--color-accent-light);
  border-radius: 10px;
  border: none;
  padding: 1em 2em;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border: none;
  border-radius: 10px;
  transition: transform 150ms ease;
}

button:hover {
  transform: scale(1.05);
}

button svg {
  width: 1em;
  height: 1em;
}

.startButton {
  background-color: var(--color-primary);
}

.startButton p {
  color: white;
}

.startButtonIcon path {
  color: #ffffff;
}

.resetButton {
  background-color: var(--color-accent-light);
}

.resetButton p {
  color: var(--color-accent-dark);
}

.resetButtonIcon path {
  color: var(--color-accent-dark);
}

.timeSelectWrap {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
  text-align: center;
}

.timeSelect {
  padding: 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
  border-radius: 10px;
}

.timeSelect button {
  background-color: var(--color-accent-light);
  padding: 0.75em 1em;
  aspect-ratio: 1 / 1;
}