.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  display: flex;
  gap: 1em;
  align-items: center;
}

.timerSvg {
  width: 100%;
  height: 80px;
  display: block;
}
