.content {
  height: 100%;
  display: grid;
  gap: 2em;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1.4fr) minmax(0, 1fr);
  place-items: center;
}

.content>* {
  width: 100%;
  height: 100%;
  min-width: 0;
  padding: clamp(1em, 2vw, 2em);
  background-color: white;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.15);
  border-radius: 10px;
}

.subjectDisplay {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.timerWrapper {
  display: grid;
  place-items: center;
  padding: 1em;
  position: relative;
}

.sessionsWrapper {
  width: 100%;
  height: 100%;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.sessions {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto;
  max-height: 36rem;
}

.sessionItem,
.sessionBreak {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0em 1em;
  background-color: var(--color-primary);
  padding: 0.75em;
  border-radius: 10px;
}

.sessionItem p {
  color: white;
  overflow-wrap: anywhere;
}

@media (max-width: 1100px) {
  .content { grid-template-columns: minmax(0, 1fr); }
}

.sessionBreak {
  background-color: var(--color-accent-light);
}

.sessionBreak p {
  color: var(--color-accent-dark);
}
