.content {
  display: grid;
  padding: 2em;
  gap: 2em;
  grid-template-columns: auto 1fr;
  background-color: var(--color-accent);
}

.subjectDisplay {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 1em;
}
