.navBar {
    background-color: rgb(122, 199, 79);
    font-family: Arial, Helvetica, sans-serif;
}

.navBar ul {
    display: flex;
    list-style: none;
    border-bottom: 1px solid rgb(187, 187, 187);
}

.navBar li {
    display: flex;
}

.navBar .homeLi {
    margin-right: auto;
}

.navBar a {
    color: rgb(39, 39, 39);
    display: flex;
    text-decoration: none;
    padding: 1em 2em;
    transition: background-color 150ms ease;
}

.navBar a:hover {
    background-color: rgb(53, 93, 29);
}

.activeLink {
    border-bottom: 2px solid rgb(39, 39, 39);
}

.accentLink {
    background-color: rgb(210, 122, 15);
}
