.navBar {
    background-color: #502F4C;
}

.navBar ul {
    display: flex;
    list-style: none;
    border-bottom: 1px solid rgb(187, 187, 187);
}

.navBar li {
    display: flex;
}

.navBar .homeLi {
    margin-right: auto;
}

.navBar a {
    display: flex;
    color: #F9F4F5;
    text-decoration: none;
    padding: 1em 2em;
    transition: background-color 150ms ease;
}

.navBar a:hover {
    background-color: #70587C;
}

.activeLink {
    border-bottom: 2px solid rgb(39, 39, 39);
}

.accentLink {
    background-color: #8789C0;
}
