.activityCard {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  margin: 10px;
  padding: 15px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  text-align: center;
}

.activityTable {
  display: grid;
  gap: 2px;
}

.weekdayLabel {
  font-weight: bold;
  font-size: 0.75rem;
  text-align: center;
  height: 1rem;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.activityCell {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  animation-delay: calc((var(--row) + var(--col)) * 0.1s);
  animation-fill-mode: backwards;
  border: 1px solid #ddd;
  border-radius: 25%;
  box-sizing: border-box;
}
