nav {
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  display: flex;
}

nav .homeLi {
  margin-right: auto;
}

nav a {
  display: flex;
  color: var(--color-text-light);
  text-decoration: none;
  padding: 1em 2em;
  transition: background-color 150ms ease;
}

nav a:hover {
  background-color: var(--color-primary-d1);
}

.activeLink {
  border-bottom: 2px solid var(--color-dark-grey);
}

.accentLink {
  background-color: var(--color-contrast);
}

.accentLink:hover {
  background-color: var(--color-contrast-d1);
}
