nav {
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
}

nav a {
  color: var(--color-text-light);
  text-decoration: none;
  padding: 0.5em 2em;
  background-color: var(--color-primary);
  align-content: center;
  transition: background-color 150ms ease;
}

nav a:hover {
  background-color: var(--color-primary-d1);
}

.homeLi {
  margin-right: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  place-items: center;
  border-bottom: 2px solid var(--color-accent-dark);
}

.homeLi img {
  height: 1.5lh;
  width: auto;
}

.accentLink {
  background-color: var(--color-contrast);
}

.accentLink:hover {
  background-color: var(--color-contrast-d1);
}
