.container {
    display: grid;
    place-items: center;
    background-color: var(--color-accent-dark);
}

.wrapper {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
}

.wrapper a {
    color: var(--color-on-action);
    text-decoration: none;
}