.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-accent-dark);
    padding: 1em;
}

.container * {
    color: white;
}

.container a {
    text-decoration: none;
}

.topic {
    display: flex;
    flex-direction: column;
}